node_modules
.env
package-lock.json
/generated/prisma
# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Environment
.env
.env.local

# Prisma
prisma/migrations/

# OS
.DS_Store
Thumbs.db
